@import "../../Assets/SCSS/variable.scss";

.loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  .headerMain {
    margin-bottom: 15px;
    > img {
      width: 130px;
    }
  }
  .loginName {
    > p {
      font-size: 40px;
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
  .loginButton {
    border-radius: 25px;
    padding: 8px 20px;
    width: 100%;
    background-color: $black;
    height: auto;
    border-width: 0px;
    > span {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
