@import "../../Assets/SCSS/variable.scss";

.loginMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  .headerMain {
    margin-bottom: 15px;
    > img {
      width: 130px;
    }
  }
  .loginName {
    > p {
      font-size: 26px;
      margin-bottom: 20px;
      font-weight: 400;
    }
  }
  border-radius: 10px;
  > div {
    padding: 24px 40px;
  }
  .accountButton {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    span {
      color: $black;
    }
    .signup {
      color: #de3163;
    }
  }
  .linkButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    u {
      color: $black;
    }
  }
  .createAccount {
    justify-content: center;
    margin-top: auto;
  }

  input {
    padding: 10px;
    border-radius: 25px;
    border: 2px solid $black;
    &:hover {
      border: 2px solid $black;
    }
  }
  .buttonMain {
    margin-bottom: 10px;
    > div {
      > div {
        > div {
          .loginButton {
            border-radius: 25px;
            padding: 8px 20px;
            width: 100%;
            background-color: $black;
            height: auto;
            border-width: 0px;
            > span {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
